table{
  text-align: center;
}

table tr td{
  width: 120px;
  height: 75px;
  position: relative;
}
#flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
table tr td:first-child{
  width: 75px;
}
table tr:first-child td, table tr:last-child td{
  height: 25px;
}
table tr td p{
  margin: 0;
}
th img{
  height: 50px;
}
.checkbox{
  width: 30px;
  height: 30px;
}
.quantity{
  width: 30px;
  height: 20px;
  border: solid #c0c0c0 1px;
  text-align: center;
}

#checkout_btn{
  font-size: 25px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  color: #d4d4d4;
  background-color: #787878;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  left: 61px;
  transform: translateX(-50%);
  transition-duration: .3s;
}
#checkout_btn:hover{
  transform: translate(-50%, -3px);
  box-shadow: 0 3px 10px 0px #787878;
  cursor: pointer;
}
.btn{
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid #c0c0c0 1px;
  position: relative;
  line-height: 22px;
  cursor: pointer;
  color: #5e5e5e;
}